<section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-title">
            <h2>About Us</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-right">
            <li> <a href="index.html">Home</a> </li>
            <li class="active">About Us</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <div class="mainContent clearfix home-v5"> 
    <!-- MORE FEATURE SECTION -->
    <div class="order">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-12 text-center">
            <div class="sectionTitle">
              <h2>How It Works</h2>
              <p>Register as Affiliate/Consumer or Manufacturer/Producers and activate their panel.<br>
                Affiliate shares Producer's services or goods via social referral or team network.<br>
                Now Aarcle help as aggregator for both Producers and Consumers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="features" class="featureSection">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="media mb-4 mb-md-5 flex-wrap">
              <div class="icon-box"><i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="media-body">
                <h4 class="mt-0">About Us</h4>
                <p>Aarcle platform enhances and empowers small and medium-sized startup and business to touch numbers of affiliates with a huge potential that grow rapidly their network, clients and activity. By grouping from a wide range of members, we ask the great potential of our business size and how we expand business strategy to enhance our group revenue for better future tomorrow of eCommerce. </p>
              </div>
            </div>
            <div class="media flex-wrap">
              <div class="icon-box"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
              <div class="media-body">
                <h4 class="mt-0">Careers</h4>
                <p>Aarcle offers both people either they are consumer/affiliate or producers/manufacturers. Any one falling in either category can join the Aarcle platform to express them and their potential. Any affiliate can make their own group by referring via social connections or any source and promote manufacturers goods or services. Similarly any single manufacturer or producer having any kind of services or goods can list it for promotions to all available affiliate groups. Financial Future ( Sell , Buy , Refer ) Producers or manufactures can sell their goods or services on all available groups of affiliates by listing them. The approach of new groups of affiliates makes them stronger because they are now exposed to large no of consumers so the chances for sell increase. Similarly affiliate makes their own grouping by referral program on social media take the advantage of wide network </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 align-self-center"> <img class="mt-3 mt-md-0 img-fluid" src="./assets/images/about.png" alt="feature"> </div>
        </div>
      </div>
    </div>
  </div>