<div class="login_bg">
    <div class="login-form">
      <form action="#" method="POST" role="form">
        <div class="row">
          <div class="col-12 mb-4 text-center"> <a href="index.html"> <img src="./assets/images/logo.png" class="logo" title="Aarcle"> </a> </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <input type="text" class="form-control" placeholder="Your Name" required />
          </div>
          <div class="col-12 mb-2">
            <input type="text" class="form-control" placeholder="Your Email" required />
          </div>
          <div class="col-12 mb-2">
            <input type="number" class="form-control" placeholder="Your Mobile" required />
          </div>
          <div class="col-12 mb-2">
            <input type="password" class="form-control" placeholder="Password" required />
          </div>
        </div>      
        <div class="row">
          <div class="col-12 mb-2">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="mb-0">Allready Have Account? <a href="login.html">Login</a> </p>
          </div>
        </div>
      </form>
    </div>
  </div>
