 <!-- FOOTER -->
 <div class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="footerLink">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/']" href="#">Home</a></li>
              <li><a [routerLink]="['./about-us']" href="#">About Us</a></li>
              <li><a [routerLink]="['./contact-us']" href="#">Contact Us</a></li>
              <li><a [routerLink]="['./policy']" href="#">Privacy Policy</a></li>
              <li><a [routerLink]="['./term-condition']" href="#">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="footerLink">
            <h5>Products</h5>
            <ul class="list-unstyled">
              <li><a [routerLink]="['./mens']" href="#">Men Jeans</a></li>
              <li><a [routerLink]="['./womens']" href="#">Women Jeans</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="footerLink">
          <h5>Payment Option</h5>            
            <ul class="list-inline">
              <li><img src="./assets/images/card1.png" title="Visa"></li>
              <li><img src="./assets/images/card2.png" title="PayPal"></li>
              <li><img src="./assets/images/card3.png" title="Master"></li>
              <li><img src="./assets/images/card4.png" title="Discover"></li>
            </ul>
            <div class="clerifix"><br/></div>
            <h5>Follow us</h5>
            <ul class="list-inline">              
              <li><a href="#!"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#!"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#!"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="footerLink">
            <h5>Contact Details</h5>
            <ul class="list-unstyled">
              <li><i class="fa fa-map-marker"></i> Aarcle Textiles,
                 DSE 767, Sector C
                Aliganj, Lucknow-226021,
                Uttar Pradesh , INDIA
              </li>
              <li><i class="fa fa-mobile"></i> +91-7860 609 118</li>
              <li><i class="fa fa-envelope"></i> <a href="mailto:info@aarcle.com">  info@aarcle.com</a></li>
              <li><i class="fa fa-globe"></i> <a href="http://aarcle.com">  www.aarcle.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- COPY RIGHT -->
  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2020 Aarcle. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>