<section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-title">
            <h2>Distributor</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-right">
            <li> <a href="index.html">Home</a> </li>
            <li class="active">Distributor</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="mainContent clearfix">
    <div class="container">
      <form action="#" method="POST" role="form">
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-3">
            <label>First Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>Last Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>Mobile</label>
            <input type="number" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>Address 1 </label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
             <label>Address 2 </label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>State</label>
            <input type="mobile" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>City</label>
            <input type="mobile" class="form-control">
          </div>
          <div class="col-md-4 col-sm-6 mb-3">
            <label>Pin</label>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-12 mb-3">
            <label>Description</label>
            <textarea class="form-control"></textarea>
          </div>          
          <div class="col-md-4 col-sm-6 mb-3">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>
      </form>
      <div class="row">
      	<div class="col-md-12 mt-5">
        <h3>Why become a distributor?</h3>
        <p>Because we want to expand our product and we want to create a reach alll over country That's why we need a distributor. </p>
        <p>Benefits to become our distributor:</p>
        <ol>
        <li>We have a good advertising team which can help us reach as many people as possible This can help our distributor to sell product easily as advertising is the key.</li>
        <li>Our distributor don't have to worry about his stock we take the gurantee that Our Distributor don't have problems like dead stock.</li>
        <li>We have a user-friendly website which is 100% it enabled so we can help our distributor As soon as possible.</li>
        <li>And last but not least, you can start with the least so you can you don't have to burden yourself.</li>
        </ol>
        </div>
      </div>
    </div>
  </section>