<div class="row">
    <div class="col-12">
      <div class="innerWrapper">
        <div class="orderBox myAddress">
          <h2>My Address</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Country</th>
                  <th class="">Phone</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Aarcle</td>
                  <td>Suraj Singh</td>
                  <td>Lucknow, UP</td>
                  <td>India</td>
                  <td>+91-+91-1234 567 890</td>
                  <td><div class="btn-group" role="group">
                      <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div></td>
                </tr>
                <tr>
                  <td>Aarcle</td>
                  <td>Suraj Singh</td>
                  <td>Lucknow, UP</td>
                  <td>India</td>
                  <td>+91-+91-1234 567 890</td>
                  <td><div class="btn-group" role="group">
                      <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div></td>
                </tr>
                <tr>
                  <td>Aarcle</td>
                  <td>Suraj Singh</td>
                  <td>Lucknow, UP</td>
                  <td>India</td>
                  <td>+91-+91-1234 567 890</td>
                  <td><div class="btn-group" role="group">
                      <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>