<div class="login_bg">
    <div class="login-form">
      <form [formGroup]="loginModel" (ngSubmit)="goToAuth()" role="form">
        <div class="row">
          <div class="col-12 mb-4 text-center"> <a [routerLink]="['/']" href="javascript:void(0)"> <img src="./assets/images/logo.png" class="logo" title="Aarcle"> </a> </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name="email" required class="form-control" placeholder="Email"  />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
          </div>
          <div class="col-12 mb-2">
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="passowrd"  placeholder="Password" required />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <div class="form-check">
              <input id="remember" class="checkbox-custom form-check-input" name="remember" type="checkbox">
              <label for="remember" class="checkbox-custom-label form-check-label">Remember me</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <button type="submit" class="btn btn-primary btn-block">login</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2 text-center"> OR </div>
        </div>
        <div class="row">
          <div class="col-6 pr-1">
            <button class="btn btn-block login_facebook">Facebook</button>
          </div>
          <div class="col-6 pl-1">
            <button class="btn btn-block login_google">Google</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="my-2"><a href="javascript:void(0)" [routerLink]="['/forgot-password']">Forgot Password?</a></p>
            <p class="mb-0">Don't have Account? <a [routerLink]="['/signup']" href="javascript:void(0)">Sign Up</a> </p>
          </div>
        </div>
      </form>
    </div>
  </div> 