<section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-title">
            <h2>Sale</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-right">
            <li> <a href="index.html">Home</a> </li>
            <li class="active">Sale</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="mainContent clearfix home-v5"> 
    <!-- MORE FEATURE SECTION -->
    
    <div id="features" class="featureSection">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-3"> <img class="mt-3 mt-md-0 img-fluid" src="./assets/images/sale.png" alt="feature"> </div>
          <div class="col-md-7 mb-3">
            <h3 class="mt-0 mb-4 text-info">Registration Form</h3>
            <form action="#" method="POST" role="form">
              <div class="row">
                <div class="col-md-6 col-sm-6 mb-3">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                  <label>Email</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                  <label>Mobile</label>
                  <input type="number" class="form-control">
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                  <label>Password</label>
                  <input type="password" class="form-control">
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
              </div>
            </form>
            <hr>
            <h1 class="mt-0 mb-4 text-info">Sale</h1>
            <h4>Sale is starting because on a occasion of Aarcle's launching.</h4>
            <h1 class="mt-0 mb-4 text-info">How It Works</h1>
            <h4>So if anyone wants to grab a sale benefit just register yourself, give us some deta Il and we will let you know As sale start.</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
   
    <!-- COPY RIGHT -->
   
  </div>