<div class="row">
    <div class="col-sm-12">
      <div class="innerWrapper">
        <div class="orderBox myAddress wishList">
          <h2>Wishlist</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Product Name</th>
                  <th>Unit Price</th>
                  <th>Stock Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class=""><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <span class="cartImage"><img src="./assets/images/products/cart-image1.jpg" alt="image"></span></td>
                  <td>Tea</td>
                  <td>Rs. 99</td>
                  <td>In Stock</td>
                  <td><a href="#" class="btn btn-sm btn-secondary-outlined">Add to Cart</a></td>
                </tr>
                <tr>
                  <td class=""><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <span class="cartImage"><img src="./assets/images/products/cart-image2.jpg" alt="image"></span></td>
                  <td>Jeans</td>
                  <td>Rs 199</td>
                  <td>In Stock</td>
                  <td><a href="#" class="btn btn-sm btn-secondary-outlined">Add to Cart</a></td>
                </tr>
                <tr>
                  <td class=""><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <span class="cartImage"><img src="./assets/images/products/cart-image3.jpg" alt="image"></span></td>
                  <td>Jeans</td>
                  <td>Rs. 199</td>
                  <td>In Stock</td>
                  <td><a href="#" class="btn btn-sm btn-secondary-outlined">Add to Cart</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>